<div *ngIf="metadata">
  <h2>Update {{metadata.name}}</h2>
  <div>
    <label>Type:
      <input [(ngModel)]="metadata.name" placeholder="name"/>
    </label>
  </div>
  <div>
    <label>Family:
      <input [(ngModel)]="metadata.family" placeholder="family"/>
    </label>
  </div>
  <div>
    <label>{{metadata.field}}
      <input [(ngModel)]="metadata.field" placeholder="field"/>
    </label>
  </div>
  <button (click)="save()">Update</button>
  <button *ngIf="metadata.field" (click)="goBack()">Get</button>
</div>
